:root {
    --primary-light: #253DA1;
    --primary-dark: #000137;
    --accent: #FFF192;
    --secondary: #D8D8D8;
    --light: #F9F5EC;
    --dark: #000000;
}

#about {
    text-align: center;
}

#profile_pic {
    border: 5px solid var(--primary-dark);
    margin-top: 70px;
    height: 300px;
    border-radius: 50%;
}