:root {
    --primary-dark: #000137;
}

#footer {
    text-align: center;
}

#footer a {
    margin-right: 5px;
    padding: 0 0.1rem;
    float: right;
}

#footer p {
    color: var(--primary-dark);
    float: left;
    margin-left: 5px;
}